baseURL = 'https://sibellavia.lol'
languageCode = 'en-us'
title = "Simone Bellavia's Web Page"

[params]
  author = "Simone Bellavia"
  description = "Thoughts on software engineering, deep learning, and what inspires me."
  twitter = "sibellavia"  # Twitter username without @
  
[markup]
  [markup.tableOfContents]
    endLevel = 4
    ordered = false
    startLevel = 2
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true
  [markup.highlight]
    codeFences = true
    lineNos = false
    lineNumbersInTable = false
    noClasses = false
    style = "github"
    tabWidth = 2

[taxonomies]
  tag = "tags"
  category = "categories"

[outputs]
  home = ["HTML", "RSS"]
  section = ["HTML", "RSS"]

[permalinks]
  posts = "/posts/:year/:month/:slug/"
  notes = "/notes/:year/:month/:day/:slug/"
  links = "/links/:year/:month/:slug/"

[menu]
  [[menu.main]]
    name = "Home"
    url = "/"
    weight = 1
  [[menu.main]]
    name = "Posts"
    url = "/posts/"
    weight = 2
  [[menu.main]]
    name = "Notes"
    url = "/notes/"
    weight = 3
  [[menu.main]]
    name = "Kinoroll"
    url = "/links/"
    weight = 4
  [[menu.main]]
    name = "Archive"
    url = "/archive/"
    weight = 5
  [[menu.main]]
    name = "About"
    url = "/about/"
    weight = 6
