{{ define "main" }}
<section id="about">
  <p>@sibellavia aka blv<br />
  passionate about ai/ml, low-level engineering, hybrid cloud, project management and healthcare<br />
  C is my favorite language / golang is fun / it takes skill to write good python / in a few years zig will be great and i will be waiting for it <br />
  i look at life with a lot of curiosity and i want to have fun in everything I do
  </p>
  <ul>
    <li>
      <a href="{{ "/blog" | relURL }}">blog (i don't use it a lot)</a>
    </li>
    <li>
      <a href="https://x.com/sibellavia">x dot com</a>
    </li>
    <li>
      <a href="https://github.com/sibellavia">github</a>
    </li>
  </ul>
  <p>some personal projects:
  </p>
  <ul>
  <li>
    <a href="https://github.com/sibellavia/tinymalloc">tinymalloc</a> – my memory allocator
  </li>
  <li>
    <a href="https://kinoroll.com">kinoroll dot com</a> – a curated list of cs and programming stuff
  </li>
  <li>
    <a href="https://x.com/sibellavia/status/1829563673393713483">tinyp2p</a> – can't say a lot about it but i love distributed systems :-)
  </li>
  </ul>
</section>

{{ end }}
