{{ define "main" }}
<!-- <section id="projects">
    <h2>Projects</h2>
    <ul>
        {{ range where .Site.RegularPages "Type" "projects" }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a>
            <br>{{ .Params.description }}</li>
        {{ end }}
    </ul>
</section> -->
<section id="posts">
    <h2>Posts</h2>
    <ul>
        {{ range where (where .Site.RegularPages "Type" "blog") "Draft" "!=" true }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
    </ul>
</section>
{{ end }}