@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    background-size: 90px 90px;
    --tw-bg-opacity: 1;
    background-color: rgb(23 23 23/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(245 245 245/var(--tw-text-opacity));
}