@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    background-size: 90px 90px;
    background-image: linear-gradient(90deg,rgba(38,38,38,.5) 1px,transparent 0),linear-gradient(180deg,rgba(38,38,38,.5) 1px,transparent 0);
    --tw-bg-opacity: 1;
    background-color: rgb(23 23 23/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(245 245 245/var(--tw-text-opacity));
}