{{ define "main" }}
<div class="list">
    <h1>{{ .Title }}</h1>
    
    {{ if eq .Section "posts" }}
    <ul class="post-list">
        {{ range .Pages.ByDate.Reverse }}
        <li class="post-item">
            <div class="post-meta">
                <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
            </div>
            <h2 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            {{ if .Summary }}
            <p>{{ .Summary | truncate 200 }}</p>
            {{ end }}
        </li>
        {{ end }}
    </ul>
    
    {{ else if eq .Section "notes" }}
    <ul class="note-list">
        {{ range .Pages.ByDate.Reverse }}
        <li class="note-item">
            <div class="note-meta">
                <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006 3:04 PM" }}</time>
            </div>
            <div class="note-content">
                {{ .Content }}
            </div>
            <a href="{{ .Permalink }}" class="permalink">Permalink</a>
        </li>
        {{ end }}
    </ul>
    
    {{ else if eq .Section "links" }}
    <ul class="link-list">
        {{ range .Pages.ByDate.Reverse }}
        <li class="link-item">
            <div class="link-meta">
                <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
            </div>
            <h3><a href="{{ .Params.link }}" target="_blank">{{ .Title }}</a></h3>
            {{ if .Params.link }}
            <div class="link-url">{{ .Params.link }}</div>
            {{ end }}
            {{ if .Content }}
            <div class="note-content">
                {{ .Content }}
            </div>
            {{ end }}
        </li>
        {{ end }}
    </ul>
    
    {{ else }}
    <ul class="post-list">
        {{ range .Pages.ByDate.Reverse }}
        <li class="post-item">
            <div class="post-meta">
                <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
            </div>
            <h2 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        </li>
        {{ end }}
    </ul>
    {{ end }}
</div>
{{ end }}