{{ define "main" }}
<header>
    <p>@sibellavia aka blv</p>
</header>

<main>
    <p>software engineering, deep learning, distributed systems, project management, healthcare. I look at life with a lot of curiosity and I want to have fun in everything I do.</p>
    
    <ul class="nav-links-list">
        <li><a href="/blog">blog</a></li>
        <li><a href="/digital-library">digital library</a></li>
        <li><a href="https://github.com/sibellavia">github</a></li>
    </ul>

    I use <a href="https://twitter.com/sibellavia">x/twitter</a> and <a href="https://bsky.app/profile/sibellavia.bsky.social">bluesky</a> (rarely).  
    
    <p>personal projects:</p>
    
    <ul>
        <li><a href="https://kinoroll.com">kinoroll[dot]com</a> – a blogroll with cool cs and programming posts</li>
        <li><a href="https://github.com/sibellavia/tinymalloc">tinymalloc</a> – my C toy memory allocator</li>
        <li><a href="https://x.com/sibellavia/status/1829563673393713483">tinyp2p</a> – my distributed computing project</li>
    </ul>
</main>
{{ end }}
