{{- $src := .Get "src" -}}
{{- $alt := .Get "alt" | default (.Get "title") | default "Image" -}}
{{- $title := .Get "title" -}}
{{- $class := .Get "class" -}}
{{- $width := .Get "width" -}}
{{- $height := .Get "height" -}}
{{- $caption := .Get "caption" -}}

<figure{{ with $class }} class="{{ . }}"{{ end }}>
    <img src="{{ $src | relURL }}"
         alt="{{ $alt }}"
         {{ with $title }}title="{{ . }}"{{ end }}
         {{ with $width }}width="{{ . }}"{{ end }}
         {{ with $height }}height="{{ . }}"{{ end }}
         loading="lazy">
    {{ with $caption }}<figcaption>{{ . }}</figcaption>{{ end }}
</figure>